/* alata-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Alata';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/alata-v9-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 16px;
  --background-color: #1a1b26;
  --text-color: #a3abd0;
  --primary: #6280c3;
  --secondary: #585d73;
}

html,
body {
  width: 100%;
  min-height: 100%;
  scroll-behavior: smooth;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  padding: 1rem;
  font-family: 'Alata', sans-serif;
}
