---
const skills = ["ts", "nestjs", "angular", "rxjs", "jest", "cypress", "git", "docker"];
---

<style>
  section {
    margin-top: 3rem;
  }

  h1 {
    text-align: center;
    margin-bottom: 0.5rem;
  }

  p {
    text-align: justify;
  }

  .skills {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: space-between;
    margin-top: 1rem;
  }

  @media screen and (min-width: 800px) {
    .skills {
      justify-content: center;
      gap: 3rem;
    }
  }

  .skills li {
    width: 3rem;
    height: 3rem;
  }

  .skills li img {
    width: 100%;
    height: 100%;
  }
</style>

<section id="about">
  <h1>About Me</h1>
  <p>
    At work I am primarily working on web configurators using Angular and NestJS.
    In my freetime I like to explore new languages. Right now I am learning about
    the Vulkan graphics API using Rust.
  </p>
  <p>
    Here are the technologies, I would consider myself most comfortable with:
  </p>
  <ul class="skills">
    {
      skills.map((skill) => (
        <li>
          <img
            src={`/images/logos/${skill}.webp`}
            width="128"
            height="128"
            loading="lazy"
            alt={skill}
          />
        </li>
      ))
    }
  </ul>
</section>
