<style>
  section {
    margin-top: 3rem;
    padding-inline: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  section:last-child {
    margin-bottom: 3rem;
  }

  h1,
  p {
    text-align: center;
  }

  a {
    background-color: #23283a;
    color: var(--text-color);
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    border: 1px solid var(--primary);
    margin: 0 auto;
  }
</style>

<section id="contact">
  <h1>Get in touch</h1>
  <p>Feel free to shoot me a message on one of my socials or by mailing me</p>
  <a href="mailto:hendrikloewe3@gmail.com">Mail me</a>
</section>
