<style>
  h1 {
    color: var(--primary);
    font-size: 2.5rem;
    font-weight: 300;
  }

  h2,
  .welcome {
    color: var(--secondary);
    font-weight: 300;
  }

  h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  .hero-image {
    margin-top: 1rem;
    width: 100%;
    border-radius: 1.5rem;
    max-height: 50vh;
    object-fit: cover;
    box-shadow: 0px 10px 50px rgb(0 0 0 / 30%);
  }
</style>

<section class="welcome">
  <p class="welcome">Hi, my name is</p>
  <h1>Hendrik Loewe.</h1>
  <h2>And I Make Computers Go Beep-Boop</h2>
  <p>
    I am a young web-developer based in Wuppertal, Germany. I strive for
    correctness, clean code and performance.
  </p>

  <img
    class="hero-image"
    src="/images/portrait.webp"
    width="523"
    height="929"
    alt="An image of myself during vacation in New York"
  />
</section>
