---
import Socials from "./Socials.astro";
---

<style>
  section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  h1 {
    color: var(--primary);
    font-size: 2.5rem;
    font-weight: 300;
  }

  h2,
  p {
    color: var(--secondary);
    font-weight: 300;
  }

  h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  .hero-image {
    width: 100%;
    border-radius: 1.5rem;
    max-height: 75vh;
    object-fit: cover;
    box-shadow: 0px 10px 50px rgb(0 0 0 / 30%);
  }

  @media screen and (min-width: 700px) {
    section {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 3fr 2fr;
      column-gap: 5ch;
      row-gap: 0.5rem;
    }

    .hero-image {
      grid-row: 1 / 3;
      grid-column: 2 / 3;
    }

    .welcome {
      align-self: end;
    }

    .socials {
      width: 100%;
      align-self: start;
    }
  }
</style>

<section>
  <div class="welcome">
    <p>Hi, my name is</p>
    <h1>Hendrik Loewe.</h1>
    <h2>And I Make Computers Go Beep-Boop</h2>
    <p>
      I am a young web-developer based in Cologne, Germany. I strive for
      correctness, readable code and performance.
    </p>
  </div>

  <img
    class="hero-image"
    src="/images/portrait.webp"
    width="523"
    height="929"
    alt="An image of myself during vacation in New York"
  />

  <div class="socials">
    <Socials />
  </div>
</section>
